 <configuration> 
<system.webServer>
<rewrite>
  <rules>
    <rule name="htaccess codeigniter rule" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/index.php" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/resources" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/robots.txt" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.php?PATH_INFO={R:1}" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
</system.webServer> 
</configuration>